body {
    font-family: 'Lato', sans-serif;

    font-family: 'Poppins', sans-serif;
    border: 1px solid #f1ebebd5;
    box-shadow: 0 0 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;

}

/* header section */
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 110px;
    margin-right: 115px;
    background-color: black;
    border-radius: 25px;

}

a {
    text-decoration: none;
    background-color: rgb(236, 84, 14);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}

.barner img {
    width: 100%;
}

.container {
    color: white;
    padding-top: 87px;
    padding-left: 70px;
    padding-bottom: 75px;
}

.top {
    font-weight: 700px;
    font-size: 60px;

}

/* main section */